
<h1>My Goals</h1>
  <hr>
  <ul class="heroes">
      <li *ngFor='let goal of goals'
        [class.selected]="goal === selectedGoal" 
        (click)="onSelect(goal)">
        <span class="badge">{{goal.id}}</span> {{goal.name}}
      </li>
      <div *ngIf="selectedGoal">
        <h2> {{ selectedGoal.name | uppercase }} Details</h2>
        <div> <span>id:</span> {{selectedGoal.id}}</div>
        <div>
            <label> Name:
              <input [(ngModel)]="selectedGoal.name" placeholder="name">
              <!-- <input [(ngModel)]="selectedGoal.description" placeholder="name"> -->
              <h4>Description</h4>
              <p>{{selectedGoal.description}}</p>
          </label>
        </div>
    </div>
  </ul>
 